.card-img {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 30px;

}
  
.voltar{
    height: 5vh;
    width: 100%;
}

.foto{

    width: 50px;
}

.card-img:after {
    filter: blur(50px);
}

.card-img img {
  width:100%;
  border-radius: 50%;
  z-index: 1;
}
